body{
    background-image:url("images/rogov-fIMrLBlkQaA-unsplash.jpg");
}
.sec1FC{
    display:flex;
    background-color: #1F2937;
}
.sec1content{
    flex:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:1%;
    max-width:70%;
    margin-bottom:3%;
}
.sec1h1{
    display:inline-block;
    color: white;
    font-size:2vw;
    margin-top:1vw;
    font-family: 'Times New Roman', Times, serif;
}
.sec1anch{
    display:flex;
    flex:auto;
    flex-direction:row;
    width:40%;
    margin-top:1vw;
    float:right;
    gap:14px;
    color: #E5E7EB;
    font-size:1.2vw;
    font-family: 'Times New Roman', Times, serif;
}
.sec1col{
    display:flex;
    height:50%;
    width:auto;
    margin-top:10%;
}
.sec1info{
    display:flex;
    flex-direction:column;
    height:100%;
    width:50%;
    font-family:'Times New Roman', Times, serif;
    color:#E5E7EB;
    background-color:#1F2937;
}
.infoHeader{
    font-size:3vw;
    font-weight:bold;
}
.infoPG{
    font-size:1vw;
}
.sec1IPH{
    display:flex;
    background-color:gray;
    margin-left:5%;
    height:100%;
    width:48%;
}
.IPHtext{
    font-size:1.5vw;
    margin:auto;
    color:#E5E7EB;
}
.sec1button{
    background-color:#3882F6;
    border:none;
    max-width:50%;
    padding-top:2%;
    padding-bottom:2%;
    color:#E5E7EB;
    font-family:'Times New Roman', Times, serif;
    font-size:1.5vw;
    margin-top:5%;
    margin-bottom:20%;
}
.sec2FC{
    display:flex;
    justify-content:center;
}
.sec2content{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:90%;
}
.sec2header{
    font-size:1.5vw;
    flex:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:2%;
    color:black;
}
.ImgAndSubTCont{
    display:flex;
    flex:auto;
    flex-direction:row;
    justify-content:center;
    margin-top:3%;
    height:30vw;
    width:60vw;
}
.ImgAndSubCol{
    display:flex;
    flex:auto;
    flex-direction:column;
    margin-left:3%;
    margin-right:3%;
    height:80%;
    width:50%;
}
.sec2IMG{
    display:flex;
    height:10vw;
    justify-content:center;
    align-items:center;
    border-style:solid;
    border-radius:3%;
    border-color:#1F2937;
    color:white;
    border-width:1px;
    background-color:white;
}
.sec2IMG img{
    height:100%;
    max-width:100%;
}
.sec2SUB{
    margin-top:5%;
    padding:5%;
    display:flex;
    flex:auto;
    flex-wrap:wrap;
    color:black;
    background-color:white;
    border-style:solid;
    border-color:black;
    border-radius:8%;
    border-width:1px;
    font-size:1.5vw;

}
.sec3FC{
    display:flex;
    flex-direction:column;
    flex:wrap;
    max-width:100%;
    align-items:center;
    background-color:#E5E7EB;
}
.quoteBox{
    display:flex;
    flex-direction:column;
    width:65%;
    margin-top:8%;
    margin-bottom:5%;
}
.quote{
    font-size:3vw;
    font-style:italic;
    font-family:'Times New Roman', Times, serif;
    color:#1F2937;
}
.quoteCredit{
    display:flex;
    justify-content:flex-end;
    width:100%;
    font-size:2vw;
}
.sec4FC{
    width:100%;
}
.sec4CC{
    width:100%;
}
.sec4content{
    display:flex;
    flex-direction:row;
    width:75%;
    border-radius:8px;
    margin-top:8%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:8%;
    background-color:#3882F6;
}
.sec4info{
    width:50%;
    padding:4%;
    color:#E5E7EB;
    font-size:1.5vw;
    font-family:'Times New Roman', Times, serif;
}
.sec4BC{
    display:flex;
    justify-content:center;
    align-items:center;
    width:50%;
}
.sec4button{
    font-size:1.5vw;
    background-color:#3882F6;
    color:#E5E7EB;
    width:60%;
    height:30%;
    border: 1px solid #E5E7EB;
}
.footerFC{
    margin-top:auto;
    display:flex;
    width:100%;
    background-color:#1F2937;
}
.footerContent{
    color:#E5E7EB;
    font-size:2vw;
    margin-left:auto;
    margin-right:auto;
    margin-top:2%;
    margin-bottom:2%;
}